## AND、OR和子文档和数组

![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-16-52-34.png)

## 显式AND查询和OR查询

### 隐式AND查询与显式AND查询

在学习MongoDB基本语法的时候，我们假如我们要查下：

> 年龄大于20并且薪资大于9999的所有人

那么MongoDB的查询语句写为：

```python
handler.find({'age': {'$gt': 20}, 'salary': {'$gt': 9999}})
```

此时，这里的`age`和`salary`两个条件需要同时满足，在逻辑上他们是“与”的关系。但是我并没有把`AND`这个关键字写出来，所以这叫做“隐式AND查询”。

而所谓的“显式AND查询”，它的效果和上面的隐式查询是一样的，但是需要把“AND”关键字写出来，写为：

```python
handler.find({
    '$and': [
        {'age': {'$gt': 20}},
        {'salary': {'$gt': 9999}}
       ]
   })
```

所以显示AND查询的基本语法为：

```python
# 这里的查询条件1、查询条件2、查询条件3均为字典
handler.find({'$and': [查询条件1, 查询条件2, 查询条件3]})
```


### OR 查询

OR查询只有显式的写法，表示多个条件只要其中一个满足即可。例如要查询：

> 年龄大于20或者薪资大于9999

那么查询语句可以写为：

```python
handler.find({'$or': [{'age': {'$gt': 20}}, {'salary': {'$gt': 9999}}]})
```

OR查询的基本语法为：

```python

# 这里的查询条件1、查询条件2、查询条件3均为字典
handler.find({'$or': [查询条件1, 查询条件2, 查询条件3]})
```

## 如何生成练习数据？

扫码关注微信公众号

![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/qrcode.jpg)

回复：

> 数据库

获取本书源代码，使用Python运行`chapter_7`文件夹中的`import_example_data_1.py`文件，即可在本地MongoDB中生成对应的练习数据example_data_1.

In [15]:
# 初始化数据库连接

import pymongo

handler = pymongo.MongoClient().chapter_7.example_data_1

In [16]:
# 隐式AND查询所有age大于25并且salary小于8000并且sex为男的数据

rows = handler.find({'age': {'$gt': 25}, 'salary': {'$lt': 8000}, 'sex': '男'}, {'_id': 0})
for row in rows:
    print(row)

{'id': 6, 'age': 27, 'salary': 6847, 'sex': '男'}
{'id': 11, 'age': 27, 'salary': 5931, 'sex': '男'}
{'id': 21, 'age': 26, 'salary': 1583, 'sex': '男'}
{'id': 23, 'age': 29, 'salary': 5977, 'sex': '男'}
{'id': 26, 'age': 28, 'salary': 2489, 'sex': '男'}
{'id': 32, 'age': 27, 'salary': 1668, 'sex': '男'}
{'id': 34, 'age': 27, 'salary': 2931, 'sex': '男'}
{'id': 39, 'age': 29, 'salary': 6671, 'sex': '男'}
{'id': 56, 'age': 30, 'salary': 2385, 'sex': '男'}
{'id': 57, 'age': 26, 'salary': 4691, 'sex': '男'}
{'id': 66, 'age': 27, 'salary': 1286, 'sex': '男'}
{'id': 83, 'age': 28, 'salary': 1189, 'sex': '男'}
{'id': 93, 'age': 27, 'salary': 7228, 'sex': '男'}
{'id': 97, 'age': 26, 'salary': 7811, 'sex': '男'}
{'id': 98, 'age': 26, 'salary': 4704, 'sex': '男'}

In [17]:
# 显式AND查询所有age大于25并且salary小于8000并且sex为男的数据


rows = handler.find({
    '$and': [
        {'age': {'$gt': 25}},
        {'salary': {'$lt': 8000}},
        {'sex': '男'}]
    },
    {'_id': 0})
for row in rows:
    print(row)

{'id': 6, 'age': 27, 'salary': 6847, 'sex': '男'}
{'id': 11, 'age': 27, 'salary': 5931, 'sex': '男'}
{'id': 21, 'age': 26, 'salary': 1583, 'sex': '男'}
{'id': 23, 'age': 29, 'salary': 5977, 'sex': '男'}
{'id': 26, 'age': 28, 'salary': 2489, 'sex': '男'}
{'id': 32, 'age': 27, 'salary': 1668, 'sex': '男'}
{'id': 34, 'age': 27, 'salary': 2931, 'sex': '男'}
{'id': 39, 'age': 29, 'salary': 6671, 'sex': '男'}
{'id': 56, 'age': 30, 'salary': 2385, 'sex': '男'}
{'id': 57, 'age': 26, 'salary': 4691, 'sex': '男'}
{'id': 66, 'age': 27, 'salary': 1286, 'sex': '男'}
{'id': 83, 'age': 28, 'salary': 1189, 'sex': '男'}
{'id': 93, 'age': 27, 'salary': 7228, 'sex': '男'}
{'id': 97, 'age': 26, 'salary': 7811, 'sex': '男'}
{'id': 98, 'age': 26, 'salary': 4704, 'sex': '男'}

In [18]:
# 显式AND查询与隐式AND查询混用

rows = handler.find({
    '$and': [
        {'age': {'$gt': 25}, 'salary': {'$lt': 8000}},
        {'sex': '男'}]
    },
    {'_id': 0})
for row in rows:
    print(row)

{'id': 6, 'age': 27, 'salary': 6847, 'sex': '男'}
{'id': 11, 'age': 27, 'salary': 5931, 'sex': '男'}
{'id': 21, 'age': 26, 'salary': 1583, 'sex': '男'}
{'id': 23, 'age': 29, 'salary': 5977, 'sex': '男'}
{'id': 26, 'age': 28, 'salary': 2489, 'sex': '男'}
{'id': 32, 'age': 27, 'salary': 1668, 'sex': '男'}
{'id': 34, 'age': 27, 'salary': 2931, 'sex': '男'}
{'id': 39, 'age': 29, 'salary': 6671, 'sex': '男'}
{'id': 56, 'age': 30, 'salary': 2385, 'sex': '男'}
{'id': 57, 'age': 26, 'salary': 4691, 'sex': '男'}
{'id': 66, 'age': 27, 'salary': 1286, 'sex': '男'}
{'id': 83, 'age': 28, 'salary': 1189, 'sex': '男'}
{'id': 93, 'age': 27, 'salary': 7228, 'sex': '男'}
{'id': 97, 'age': 26, 'salary': 7811, 'sex': '男'}
{'id': 98, 'age': 26, 'salary': 4704, 'sex': '男'}

In [19]:
# OR查询，查询所有年龄大于25或者薪资小于9000的人

rows = handler.find({
    '$or': [
        {'age': {'$gt': 25}},
        {'salary': {'$lt': 9000}}
        ]
    },
    {'_id': 0})
for row in rows:
    print(row)

{'id': 1, 'age': 29, 'salary': 2664, 'sex': '女'}
{'id': 2, 'age': 19, 'salary': 3086, 'sex': '男'}
{'id': 3, 'age': 15, 'salary': 7662, 'sex': '女'}
{'id': 4, 'age': 23, 'salary': 7001, 'sex': '女'}
{'id': 5, 'age': 24, 'salary': 8042, 'sex': '女'}
{'id': 6, 'age': 27, 'salary': 6847, 'sex': '男'}
{'id': 7, 'age': 16, 'salary': 8916, 'sex': '男'}
{'id': 8, 'age': 24, 'salary': 5191, 'sex': '女'}
{'id': 9, 'age': 23, 'salary': 6643, 'sex': '男'}
{'id': 11, 'age': 27, 'salary': 5931, 'sex': '男'}
{'id': 13, 'age': 25, 'salary': 3156, 'sex': '男'}
{'id': 14, 'age': 29, 'salary': 8825, 'sex': '女'}
{'id': 15, 'age': 29, 'salary': 7635, 'sex': '女'}
{'id': 16, 'age': 18, 'salary': 4204, 'sex': '女'}
{'id': 17, 'age': 20, 'salary': 5498, 'sex': '男'}
{'id': 18, 'age': 17, 'salary': 4600, 'sex': '男'}
{'id': 19, 'age': 26, 'salary': 3116, 'sex': '女'}
{'id': 20, 'age': 23, 'salary': 6317, 'sex': '男'}
{'id': 21, 'age': 26, 'salary': 1583, 'sex': '男'}
{'id': 22, 'age': 15, 'salary': 1930, 'sex': '女'}
{'id': 23, 'age': 29, 'salary': 5977, 'sex': '男'}
{'id': 24, 'age': 27, 'salary': 8833, 'sex': '女'}
{'id': 25, 'age': 15, 'salary': 2749, 'sex': '男'}
{'id': 26, 'age': 28, 'salary': 2489, 'sex': '男'}
{'id': 27, 'age': 21, 'salary': 3236, 'sex': '男'}
{'id': 28, 'age': 27, 'salary': 7052, 'sex': '女'}
{'id': 29, 'age': 26, 'salary': 7494, 'sex': '女'}
{'id': 30, 'age': 24, 'salary': 1820, 'sex': '女'}
{'id': 32, 'age': 27, 'salary': 1668, 'sex': '男'}
{'id': 33, 'age': 28, 'salary': 9276, 'sex': '男'}
{'id': 34, 'age': 27, 'salary': 2931, 'sex': '男'}
{'id': 35, 'age': 16, 'salary': 2443, 'sex': '男'}
{'id': 36, 'age': 15, 'salary': 2073, 'sex': '女'}
{'id': 37, 'age': 27, 'salary': 9361, 'sex': '男'}
{'id': 38, 'age': 20, 'salary': 6039, 'sex': '女'}
{'id': 39, 'age': 29, 'salary': 6671, 'sex': '男'}
{'id': 40, 'age': 29, 'salary': 2314, 'sex': '女'}
{'id': 41, 'age': 19, 'salary': 3829, 'sex': '男'}
{'id': 42, 'age': 21, 'salary': 2989, 'sex': '女'}
{'id': 43, 'age': 18, 'salary': 3813, 'sex': '男'}
{'id': 44, 'age': 22, 'salary': 6060, 'sex': '女'}
{'id': 45, 'age': 25, 'salary': 5602, 'sex': '女'}
{'id': 46, 'age': 18, 'salary': 7582, 'sex': '女'}
{'id': 47, 'age': 27, 'salary': 8937, 'sex': '女'}
{'id': 48, 'age': 21, 'salary': 4565, 'sex': '男'}
{'id': 49, 'age': 26, 'salary': 6087, 'sex': '女'}
{'id': 50, 'age': 23, 'salary': 4103, 'sex': '男'}
{'id': 51, 'age': 19, 'salary': 2733, 'sex': '男'}
{'id': 52, 'age': 29, 'salary': 9868, 'sex': '男'}
{'id': 53, 'age': 24, 'salary': 8977, 'sex': '女'}
{'id': 54, 'age': 25, 'salary': 6052, 'sex': '女'}
{'id': 55, 'age': 23, 'salary': 3741, 'sex': '男'}
{'id': 56, 'age': 30, 'salary': 2385, 'sex': '男'}
{'id': 57, 'age': 26, 'salary': 4691, 'sex': '男'}
{'id': 60, 'age': 18, 'salary': 1640, 'sex': '男'}
{'id': 61, 'age': 28, 'salary': 7494, 'sex': '女'}
{'id': 63, 'age': 19, 'salary': 8830, 'sex': '男'}
{'id': 64, 'age': 28, 'salary': 8512, 'sex': '男'}
{'id': 65, 'age': 20, 'salary': 4850, 'sex': '男'}
{'id': 66, 'age': 27, 'salary': 1286, 'sex': '男'}
{'id': 67, 'age': 30, 'salary': 6928, 'sex': '女'}
{'id': 68, 'age': 29, 'salary': 3417, 'sex': '女'}
{'id': 69, 'age': 25, 'salary': 3115, 'sex': '女'}
{'id': 70, 'age': 23, 'salary': 2839, 'sex': '女'}
{'id': 71, 'age': 19, 'salary': 1746, 'sex': '男'}
{'id': 72, 'age': 18, 'salary': 1044, 'sex': '男'}
{'id': 73, 'age': 23, 'salary': 5760, 'sex': '男'}
{'id': 74, 'age': 23, 'salary': 3312, 'sex': '男'}
{'id': 75, 'age': 21, 'salary': 2409, 'sex': '男'}
{'id': 77, 'age': 16, 'salary': 2472, 'sex': '男'}
{'id': 78, 'age': 19, 'salary': 4087, 'sex': '男'}
{'id': 79, 'age': 29, 'salary': 3981, 'sex': '女'}
{'id': 80, 'age': 21, 'salary': 8750, 'sex': '女'}
{'id': 81, 'age': 19, 'salary': 2954, 'sex': '女'}
{'id': 83, 'age': 28, 'salary': 1189, 'sex': '男'}
{'id': 84, 'age': 20, 'salary': 2928, 'sex': '男'}
{'id': 85, 'age': 25, 'salary': 8798, 'sex': '女'}
{'id': 86, 'age': 19, 'salary': 4391, 'sex': '女'}
{'id': 87, 'age': 30, 'salary': 7823, 'sex': '女'}
{'id': 88, 'age': 22, 'salary': 2145, 'sex': '男'}
{'id': 89, 'age': 15, 'salary': 2573, 'sex': '男'}
{'id': 90, 'age': 20, 'salary': 3853, 'sex': '男'}
{'id': 91, 'age': 25, 'salary': 6161, 'sex': '女'}
{'id': 92, 'age': 15, 'salary': 7678, 'sex': '男'}
{'id': 93, 'age': 27, 'salary': 7228, 'sex': '男'}
{'id': 94, 'age': 26, 'salary': 1084, 'sex': '女'}
{'id': 95, 'age': 25, 'salary': 8078, 'sex': '男'}
{'id': 96, 'age': 17, 'salary': 2318, 'sex': '女'}
{'id': 97, 'age': 26, 'salary': 7811, 'sex': '男'}
{'id': 98, 'age': 26, 'salary': 4704, 'sex': '男'}
{'id': 99, 'age': 17, 'salary': 6482, 'sex': '女'}

In [20]:
# OR查询，查询所有年龄大于1000岁或者薪资小于2000的人，第一个条件找不到也没有关系

rows = handler.find({
    '$or': [
        {'age': {'$gt': 1000}},
        {'salary': {'$lt': 2000}}
        ]
    }, 
    {'_id': 0})
for row in rows:
    print(row)

{'id': 21, 'age': 26, 'salary': 1583, 'sex': '男'}
{'id': 22, 'age': 15, 'salary': 1930, 'sex': '女'}
{'id': 30, 'age': 24, 'salary': 1820, 'sex': '女'}
{'id': 32, 'age': 27, 'salary': 1668, 'sex': '男'}
{'id': 60, 'age': 18, 'salary': 1640, 'sex': '男'}
{'id': 66, 'age': 27, 'salary': 1286, 'sex': '男'}
{'id': 71, 'age': 19, 'salary': 1746, 'sex': '男'}
{'id': 72, 'age': 18, 'salary': 1044, 'sex': '男'}
{'id': 83, 'age': 28, 'salary': 1189, 'sex': '男'}
{'id': 94, 'age': 26, 'salary': 1084, 'sex': '女'}

In [21]:
# OR查询，查询所有年龄大于1000岁或者薪资小于0的人，所有条件都找不到才会返回空

rows = handler.find({
    '$or': [
        {'age': {'$gt': 1000}},
        {'salary': {'$lt': 0}}
        ]
    }, 
    {'_id': 0})
for row in rows:
    print(row)

# 不能写成隐式AND查询的情况

In [22]:
# 首先我们搜索一下，年龄大于28岁，薪资大于9900的所有人

rows = handler.find({
    '$or': [
        {'age': {'$gt': 28}},
        {'salary': {'$gt': 9900}}
        ]
    }, 
    {'_id': 0})
for row in rows:
    print(row)

{'id': 1, 'age': 29, 'salary': 2664, 'sex': '女'}
{'id': 14, 'age': 29, 'salary': 8825, 'sex': '女'}
{'id': 15, 'age': 29, 'salary': 7635, 'sex': '女'}
{'id': 23, 'age': 29, 'salary': 5977, 'sex': '男'}
{'id': 39, 'age': 29, 'salary': 6671, 'sex': '男'}
{'id': 40, 'age': 29, 'salary': 2314, 'sex': '女'}
{'id': 52, 'age': 29, 'salary': 9868, 'sex': '男'}
{'id': 56, 'age': 30, 'salary': 2385, 'sex': '男'}
{'id': 58, 'age': 25, 'salary': 9975, 'sex': '男'}
{'id': 67, 'age': 30, 'salary': 6928, 'sex': '女'}
{'id': 68, 'age': 29, 'salary': 3417, 'sex': '女'}
{'id': 79, 'age': 29, 'salary': 3981, 'sex': '女'}
{'id': 87, 'age': 30, 'salary': 7823, 'sex': '女'}

In [23]:
# 现在，要从这一批人里面找到所有id小于20或者性别为男的人

rows = handler.find(
    {'$and': [
        {'$or': [
            {'age': {'$gt': 28}},
            {'salary': {'$gt': 9900}}
            ]
        },
        {'$or': [
            {'id': {'$lt': 20}},
            {'sex': '男'}
            ]
        }
        ]
    },
    {'_id': 0})
for row in rows:
    print(row)

{'id': 1, 'age': 29, 'salary': 2664, 'sex': '女'}
{'id': 14, 'age': 29, 'salary': 8825, 'sex': '女'}
{'id': 15, 'age': 29, 'salary': 7635, 'sex': '女'}
{'id': 23, 'age': 29, 'salary': 5977, 'sex': '男'}
{'id': 39, 'age': 29, 'salary': 6671, 'sex': '男'}
{'id': 52, 'age': 29, 'salary': 9868, 'sex': '男'}
{'id': 56, 'age': 30, 'salary': 2385, 'sex': '男'}
{'id': 58, 'age': 25, 'salary': 9975, 'sex': '男'}

![读者交流QQ群](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-02-16-09-59-56.png)
![微信公众号](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/wechatplatform.jpg)
![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-20-47-47.png)

## MongoDB的聚合查询（一）——筛选、操作值

![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-16-52-34.png)

## MongoDB的聚合操作

作为一个数据库，MongoDB除了基本的增删改查外，还能进行一些统计运算和数据处理。聚合查询(aggregation)就是MongoDB进行数据处理的工具之一。聚合查询是把多个不同的阶段（stage）组合在一起，从而处理数据。

### 基本语法

```python
collection.aggregate([阶段1, 阶段2, 阶段3, ..., 阶段n])
```

每一个阶段都是一个字典。一个聚合查询可以有0个、1个或者多个阶段。数据先进入第一个阶段，第一个阶段处理以后的数据进入第二个阶段，第二个阶段处理以后的数据进入第三个阶段……。

#### 查询阶段

```python
{'$match': {find第一个参数}}
```

#### 修改字段

```python
{'$project': {'字段名1': 0, '字段名2': 1, ...}}
```

## 查询阶段

In [29]:
# 初始化环境

import pymongo
handler = pymongo.MongoClient().chapter_7.example_data_1

In [30]:
# 没有阶段的聚合查询

rows = handler.aggregate([])
for row in rows:
    print(row)

{'_id': ObjectId('5b0ab1a46b78a66b9a676cb8'), 'id': 1, 'age': 29, 'salary': 2664, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cb9'), 'id': 2, 'age': 19, 'salary': 3086, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cba'), 'id': 3, 'age': 15, 'salary': 7662, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbb'), 'id': 4, 'age': 23, 'salary': 7001, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbc'), 'id': 5, 'age': 24, 'salary': 8042, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbd'), 'id': 6, 'age': 27, 'salary': 6847, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbe'), 'id': 7, 'age': 16, 'salary': 8916, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbf'), 'id': 8, 'age': 24, 'salary': 5191, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc0'), 'id': 9, 'age': 23, 'salary': 6643, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc1'), 'id': 10, 'age': 19, 'salary': 9775, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc2'), 'id': 11, 'age': 27, 'salary': 5931, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc3'), 'id': 12, 'age': 17, 'salary': 9582, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc4'), 'id': 13, 'age': 25, 'salary': 3156, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc5'), 'id': 14, 'age': 29, 'salary': 8825, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc6'), 'id': 15, 'age': 29, 'salary': 7635, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc7'), 'id': 16, 'age': 18, 'salary': 4204, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc8'), 'id': 17, 'age': 20, 'salary': 5498, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc9'), 'id': 18, 'age': 17, 'salary': 4600, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cca'), 'id': 19, 'age': 26, 'salary': 3116, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccb'), 'id': 20, 'age': 23, 'salary': 6317, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccc'), 'id': 21, 'age': 26, 'salary': 1583, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccd'), 'id': 22, 'age': 15, 'salary': 1930, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cce'), 'id': 23, 'age': 29, 'salary': 5977, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccf'), 'id': 24, 'age': 27, 'salary': 8833, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd0'), 'id': 25, 'age': 15, 'salary': 2749, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd1'), 'id': 26, 'age': 28, 'salary': 2489, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd2'), 'id': 27, 'age': 21, 'salary': 3236, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd3'), 'id': 28, 'age': 27, 'salary': 7052, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd4'), 'id': 29, 'age': 26, 'salary': 7494, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd5'), 'id': 30, 'age': 24, 'salary': 1820, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd6'), 'id': 31, 'age': 17, 'salary': 9554, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd7'), 'id': 32, 'age': 27, 'salary': 1668, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd8'), 'id': 33, 'age': 28, 'salary': 9276, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd9'), 'id': 34, 'age': 27, 'salary': 2931, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cda'), 'id': 35, 'age': 16, 'salary': 2443, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdb'), 'id': 36, 'age': 15, 'salary': 2073, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdc'), 'id': 37, 'age': 27, 'salary': 9361, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdd'), 'id': 38, 'age': 20, 'salary': 6039, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cde'), 'id': 39, 'age': 29, 'salary': 6671, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdf'), 'id': 40, 'age': 29, 'salary': 2314, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce0'), 'id': 41, 'age': 19, 'salary': 3829, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce1'), 'id': 42, 'age': 21, 'salary': 2989, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce2'), 'id': 43, 'age': 18, 'salary': 3813, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce3'), 'id': 44, 'age': 22, 'salary': 6060, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce4'), 'id': 45, 'age': 25, 'salary': 5602, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce5'), 'id': 46, 'age': 18, 'salary': 7582, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce6'), 'id': 47, 'age': 27, 'salary': 8937, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce7'), 'id': 48, 'age': 21, 'salary': 4565, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce8'), 'id': 49, 'age': 26, 'salary': 6087, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce9'), 'id': 50, 'age': 23, 'salary': 4103, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cea'), 'id': 51, 'age': 19, 'salary': 2733, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ceb'), 'id': 52, 'age': 29, 'salary': 9868, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cec'), 'id': 53, 'age': 24, 'salary': 8977, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ced'), 'id': 54, 'age': 25, 'salary': 6052, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cee'), 'id': 55, 'age': 23, 'salary': 3741, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cef'), 'id': 56, 'age': 30, 'salary': 2385, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf0'), 'id': 57, 'age': 26, 'salary': 4691, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf1'), 'id': 58, 'age': 25, 'salary': 9975, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf2'), 'id': 59, 'age': 16, 'salary': 9699, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf3'), 'id': 60, 'age': 18, 'salary': 1640, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf4'), 'id': 61, 'age': 28, 'salary': 7494, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf5'), 'id': 62, 'age': 22, 'salary': 9420, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf6'), 'id': 63, 'age': 19, 'salary': 8830, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf7'), 'id': 64, 'age': 28, 'salary': 8512, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf8'), 'id': 65, 'age': 20, 'salary': 4850, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf9'), 'id': 66, 'age': 27, 'salary': 1286, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfa'), 'id': 67, 'age': 30, 'salary': 6928, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfb'), 'id': 68, 'age': 29, 'salary': 3417, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfc'), 'id': 69, 'age': 25, 'salary': 3115, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfd'), 'id': 70, 'age': 23, 'salary': 2839, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfe'), 'id': 71, 'age': 19, 'salary': 1746, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cff'), 'id': 72, 'age': 18, 'salary': 1044, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d00'), 'id': 73, 'age': 23, 'salary': 5760, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d01'), 'id': 74, 'age': 23, 'salary': 3312, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d02'), 'id': 75, 'age': 21, 'salary': 2409, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d03'), 'id': 76, 'age': 20, 'salary': 9164, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d04'), 'id': 77, 'age': 16, 'salary': 2472, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d05'), 'id': 78, 'age': 19, 'salary': 4087, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d06'), 'id': 79, 'age': 29, 'salary': 3981, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d07'), 'id': 80, 'age': 21, 'salary': 8750, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d08'), 'id': 81, 'age': 19, 'salary': 2954, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d09'), 'id': 82, 'age': 21, 'salary': 9409, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0a'), 'id': 83, 'age': 28, 'salary': 1189, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0b'), 'id': 84, 'age': 20, 'salary': 2928, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0c'), 'id': 85, 'age': 25, 'salary': 8798, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0d'), 'id': 86, 'age': 19, 'salary': 4391, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0e'), 'id': 87, 'age': 30, 'salary': 7823, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0f'), 'id': 88, 'age': 22, 'salary': 2145, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d10'), 'id': 89, 'age': 15, 'salary': 2573, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d11'), 'id': 90, 'age': 20, 'salary': 3853, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d12'), 'id': 91, 'age': 25, 'salary': 6161, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d13'), 'id': 92, 'age': 15, 'salary': 7678, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d14'), 'id': 93, 'age': 27, 'salary': 7228, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d15'), 'id': 94, 'age': 26, 'salary': 1084, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d16'), 'id': 95, 'age': 25, 'salary': 8078, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d17'), 'id': 96, 'age': 17, 'salary': 2318, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d18'), 'id': 97, 'age': 26, 'salary': 7811, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d19'), 'id': 98, 'age': 26, 'salary': 4704, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d1a'), 'id': 99, 'age': 17, 'salary': 6482, 'sex': '女'}

In [31]:
# 使用find查询数据

rows = handler.find()
for row in rows:
    print(row)

{'_id': ObjectId('5b0ab1a46b78a66b9a676cb8'), 'id': 1, 'age': 29, 'salary': 2664, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cb9'), 'id': 2, 'age': 19, 'salary': 3086, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cba'), 'id': 3, 'age': 15, 'salary': 7662, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbb'), 'id': 4, 'age': 23, 'salary': 7001, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbc'), 'id': 5, 'age': 24, 'salary': 8042, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbd'), 'id': 6, 'age': 27, 'salary': 6847, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbe'), 'id': 7, 'age': 16, 'salary': 8916, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbf'), 'id': 8, 'age': 24, 'salary': 5191, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc0'), 'id': 9, 'age': 23, 'salary': 6643, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc1'), 'id': 10, 'age': 19, 'salary': 9775, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc2'), 'id': 11, 'age': 27, 'salary': 5931, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc3'), 'id': 12, 'age': 17, 'salary': 9582, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc4'), 'id': 13, 'age': 25, 'salary': 3156, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc5'), 'id': 14, 'age': 29, 'salary': 8825, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc6'), 'id': 15, 'age': 29, 'salary': 7635, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc7'), 'id': 16, 'age': 18, 'salary': 4204, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc8'), 'id': 17, 'age': 20, 'salary': 5498, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc9'), 'id': 18, 'age': 17, 'salary': 4600, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cca'), 'id': 19, 'age': 26, 'salary': 3116, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccb'), 'id': 20, 'age': 23, 'salary': 6317, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccc'), 'id': 21, 'age': 26, 'salary': 1583, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccd'), 'id': 22, 'age': 15, 'salary': 1930, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cce'), 'id': 23, 'age': 29, 'salary': 5977, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccf'), 'id': 24, 'age': 27, 'salary': 8833, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd0'), 'id': 25, 'age': 15, 'salary': 2749, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd1'), 'id': 26, 'age': 28, 'salary': 2489, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd2'), 'id': 27, 'age': 21, 'salary': 3236, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd3'), 'id': 28, 'age': 27, 'salary': 7052, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd4'), 'id': 29, 'age': 26, 'salary': 7494, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd5'), 'id': 30, 'age': 24, 'salary': 1820, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd6'), 'id': 31, 'age': 17, 'salary': 9554, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd7'), 'id': 32, 'age': 27, 'salary': 1668, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd8'), 'id': 33, 'age': 28, 'salary': 9276, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd9'), 'id': 34, 'age': 27, 'salary': 2931, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cda'), 'id': 35, 'age': 16, 'salary': 2443, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdb'), 'id': 36, 'age': 15, 'salary': 2073, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdc'), 'id': 37, 'age': 27, 'salary': 9361, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdd'), 'id': 38, 'age': 20, 'salary': 6039, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cde'), 'id': 39, 'age': 29, 'salary': 6671, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdf'), 'id': 40, 'age': 29, 'salary': 2314, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce0'), 'id': 41, 'age': 19, 'salary': 3829, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce1'), 'id': 42, 'age': 21, 'salary': 2989, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce2'), 'id': 43, 'age': 18, 'salary': 3813, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce3'), 'id': 44, 'age': 22, 'salary': 6060, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce4'), 'id': 45, 'age': 25, 'salary': 5602, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce5'), 'id': 46, 'age': 18, 'salary': 7582, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce6'), 'id': 47, 'age': 27, 'salary': 8937, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce7'), 'id': 48, 'age': 21, 'salary': 4565, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce8'), 'id': 49, 'age': 26, 'salary': 6087, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce9'), 'id': 50, 'age': 23, 'salary': 4103, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cea'), 'id': 51, 'age': 19, 'salary': 2733, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ceb'), 'id': 52, 'age': 29, 'salary': 9868, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cec'), 'id': 53, 'age': 24, 'salary': 8977, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ced'), 'id': 54, 'age': 25, 'salary': 6052, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cee'), 'id': 55, 'age': 23, 'salary': 3741, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cef'), 'id': 56, 'age': 30, 'salary': 2385, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf0'), 'id': 57, 'age': 26, 'salary': 4691, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf1'), 'id': 58, 'age': 25, 'salary': 9975, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf2'), 'id': 59, 'age': 16, 'salary': 9699, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf3'), 'id': 60, 'age': 18, 'salary': 1640, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf4'), 'id': 61, 'age': 28, 'salary': 7494, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf5'), 'id': 62, 'age': 22, 'salary': 9420, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf6'), 'id': 63, 'age': 19, 'salary': 8830, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf7'), 'id': 64, 'age': 28, 'salary': 8512, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf8'), 'id': 65, 'age': 20, 'salary': 4850, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf9'), 'id': 66, 'age': 27, 'salary': 1286, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfa'), 'id': 67, 'age': 30, 'salary': 6928, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfb'), 'id': 68, 'age': 29, 'salary': 3417, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfc'), 'id': 69, 'age': 25, 'salary': 3115, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfd'), 'id': 70, 'age': 23, 'salary': 2839, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfe'), 'id': 71, 'age': 19, 'salary': 1746, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cff'), 'id': 72, 'age': 18, 'salary': 1044, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d00'), 'id': 73, 'age': 23, 'salary': 5760, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d01'), 'id': 74, 'age': 23, 'salary': 3312, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d02'), 'id': 75, 'age': 21, 'salary': 2409, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d03'), 'id': 76, 'age': 20, 'salary': 9164, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d04'), 'id': 77, 'age': 16, 'salary': 2472, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d05'), 'id': 78, 'age': 19, 'salary': 4087, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d06'), 'id': 79, 'age': 29, 'salary': 3981, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d07'), 'id': 80, 'age': 21, 'salary': 8750, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d08'), 'id': 81, 'age': 19, 'salary': 2954, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d09'), 'id': 82, 'age': 21, 'salary': 9409, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0a'), 'id': 83, 'age': 28, 'salary': 1189, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0b'), 'id': 84, 'age': 20, 'salary': 2928, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0c'), 'id': 85, 'age': 25, 'salary': 8798, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0d'), 'id': 86, 'age': 19, 'salary': 4391, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0e'), 'id': 87, 'age': 30, 'salary': 7823, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0f'), 'id': 88, 'age': 22, 'salary': 2145, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d10'), 'id': 89, 'age': 15, 'salary': 2573, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d11'), 'id': 90, 'age': 20, 'salary': 3853, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d12'), 'id': 91, 'age': 25, 'salary': 6161, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d13'), 'id': 92, 'age': 15, 'salary': 7678, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d14'), 'id': 93, 'age': 27, 'salary': 7228, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d15'), 'id': 94, 'age': 26, 'salary': 1084, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d16'), 'id': 95, 'age': 25, 'salary': 8078, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d17'), 'id': 96, 'age': 17, 'salary': 2318, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d18'), 'id': 97, 'age': 26, 'salary': 7811, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d19'), 'id': 98, 'age': 26, 'salary': 4704, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d1a'), 'id': 99, 'age': 17, 'salary': 6482, 'sex': '女'}

In [32]:
# 查询所有性别为男的数据

rows = handler.aggregate([{'$match': {'sex': '男'}}])
for row in rows:
    print(row)

{'_id': ObjectId('5b0ab1a46b78a66b9a676cb9'), 'id': 2, 'age': 19, 'salary': 3086, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbd'), 'id': 6, 'age': 27, 'salary': 6847, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbe'), 'id': 7, 'age': 16, 'salary': 8916, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc0'), 'id': 9, 'age': 23, 'salary': 6643, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc2'), 'id': 11, 'age': 27, 'salary': 5931, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc4'), 'id': 13, 'age': 25, 'salary': 3156, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc8'), 'id': 17, 'age': 20, 'salary': 5498, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc9'), 'id': 18, 'age': 17, 'salary': 4600, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccb'), 'id': 20, 'age': 23, 'salary': 6317, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccc'), 'id': 21, 'age': 26, 'salary': 1583, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cce'), 'id': 23, 'age': 29, 'salary': 5977, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd0'), 'id': 25, 'age': 15, 'salary': 2749, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd1'), 'id': 26, 'age': 28, 'salary': 2489, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd2'), 'id': 27, 'age': 21, 'salary': 3236, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd6'), 'id': 31, 'age': 17, 'salary': 9554, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd7'), 'id': 32, 'age': 27, 'salary': 1668, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd8'), 'id': 33, 'age': 28, 'salary': 9276, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd9'), 'id': 34, 'age': 27, 'salary': 2931, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cda'), 'id': 35, 'age': 16, 'salary': 2443, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdc'), 'id': 37, 'age': 27, 'salary': 9361, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cde'), 'id': 39, 'age': 29, 'salary': 6671, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce0'), 'id': 41, 'age': 19, 'salary': 3829, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce2'), 'id': 43, 'age': 18, 'salary': 3813, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce7'), 'id': 48, 'age': 21, 'salary': 4565, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce9'), 'id': 50, 'age': 23, 'salary': 4103, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cea'), 'id': 51, 'age': 19, 'salary': 2733, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ceb'), 'id': 52, 'age': 29, 'salary': 9868, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cee'), 'id': 55, 'age': 23, 'salary': 3741, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cef'), 'id': 56, 'age': 30, 'salary': 2385, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf0'), 'id': 57, 'age': 26, 'salary': 4691, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf1'), 'id': 58, 'age': 25, 'salary': 9975, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf2'), 'id': 59, 'age': 16, 'salary': 9699, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf3'), 'id': 60, 'age': 18, 'salary': 1640, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf5'), 'id': 62, 'age': 22, 'salary': 9420, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf6'), 'id': 63, 'age': 19, 'salary': 8830, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf7'), 'id': 64, 'age': 28, 'salary': 8512, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf8'), 'id': 65, 'age': 20, 'salary': 4850, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf9'), 'id': 66, 'age': 27, 'salary': 1286, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfe'), 'id': 71, 'age': 19, 'salary': 1746, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cff'), 'id': 72, 'age': 18, 'salary': 1044, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d00'), 'id': 73, 'age': 23, 'salary': 5760, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d01'), 'id': 74, 'age': 23, 'salary': 3312, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d02'), 'id': 75, 'age': 21, 'salary': 2409, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d04'), 'id': 77, 'age': 16, 'salary': 2472, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d05'), 'id': 78, 'age': 19, 'salary': 4087, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0a'), 'id': 83, 'age': 28, 'salary': 1189, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0b'), 'id': 84, 'age': 20, 'salary': 2928, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0f'), 'id': 88, 'age': 22, 'salary': 2145, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d10'), 'id': 89, 'age': 15, 'salary': 2573, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d11'), 'id': 90, 'age': 20, 'salary': 3853, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d13'), 'id': 92, 'age': 15, 'salary': 7678, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d14'), 'id': 93, 'age': 27, 'salary': 7228, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d16'), 'id': 95, 'age': 25, 'salary': 8078, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d18'), 'id': 97, 'age': 26, 'salary': 7811, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d19'), 'id': 98, 'age': 26, 'salary': 4704, 'sex': '男'}

In [33]:
# 查询所有性别为女并且age小于25的数据

rows = handler.aggregate([{'$match': {'sex': '女', 'age': {'$lt': 25}}}])
for row in rows:
    print(row)

{'_id': ObjectId('5b0ab1a46b78a66b9a676cba'), 'id': 3, 'age': 15, 'salary': 7662, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbb'), 'id': 4, 'age': 23, 'salary': 7001, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbc'), 'id': 5, 'age': 24, 'salary': 8042, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbf'), 'id': 8, 'age': 24, 'salary': 5191, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc1'), 'id': 10, 'age': 19, 'salary': 9775, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc3'), 'id': 12, 'age': 17, 'salary': 9582, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc7'), 'id': 16, 'age': 18, 'salary': 4204, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccd'), 'id': 22, 'age': 15, 'salary': 1930, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd5'), 'id': 30, 'age': 24, 'salary': 1820, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdb'), 'id': 36, 'age': 15, 'salary': 2073, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdd'), 'id': 38, 'age': 20, 'salary': 6039, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce1'), 'id': 42, 'age': 21, 'salary': 2989, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce3'), 'id': 44, 'age': 22, 'salary': 6060, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce5'), 'id': 46, 'age': 18, 'salary': 7582, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cec'), 'id': 53, 'age': 24, 'salary': 8977, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfd'), 'id': 70, 'age': 23, 'salary': 2839, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d03'), 'id': 76, 'age': 20, 'salary': 9164, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d07'), 'id': 80, 'age': 21, 'salary': 8750, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d08'), 'id': 81, 'age': 19, 'salary': 2954, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d09'), 'id': 82, 'age': 21, 'salary': 9409, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0d'), 'id': 86, 'age': 19, 'salary': 4391, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d17'), 'id': 96, 'age': 17, 'salary': 2318, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d1a'), 'id': 99, 'age': 17, 'salary': 6482, 'sex': '女'}

In [34]:
# 查询所有（性别为女并且age小于25）或者（性别为男，age小于20）的数据
rows = handler.aggregate([
    {'$match': {
        '$or': [
            {'sex': '女', 'age': {'$lt': 25}},
            {'sex': '男', 'age': {'$lt': 20}}
        ]
    }}
])
for row in rows:
    print(row)

{'_id': ObjectId('5b0ab1a46b78a66b9a676cb9'), 'id': 2, 'age': 19, 'salary': 3086, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cba'), 'id': 3, 'age': 15, 'salary': 7662, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbb'), 'id': 4, 'age': 23, 'salary': 7001, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbc'), 'id': 5, 'age': 24, 'salary': 8042, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbe'), 'id': 7, 'age': 16, 'salary': 8916, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbf'), 'id': 8, 'age': 24, 'salary': 5191, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc1'), 'id': 10, 'age': 19, 'salary': 9775, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc3'), 'id': 12, 'age': 17, 'salary': 9582, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc7'), 'id': 16, 'age': 18, 'salary': 4204, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc9'), 'id': 18, 'age': 17, 'salary': 4600, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ccd'), 'id': 22, 'age': 15, 'salary': 1930, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd0'), 'id': 25, 'age': 15, 'salary': 2749, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd5'), 'id': 30, 'age': 24, 'salary': 1820, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd6'), 'id': 31, 'age': 17, 'salary': 9554, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cda'), 'id': 35, 'age': 16, 'salary': 2443, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdb'), 'id': 36, 'age': 15, 'salary': 2073, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cdd'), 'id': 38, 'age': 20, 'salary': 6039, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce0'), 'id': 41, 'age': 19, 'salary': 3829, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce1'), 'id': 42, 'age': 21, 'salary': 2989, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce2'), 'id': 43, 'age': 18, 'salary': 3813, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce3'), 'id': 44, 'age': 22, 'salary': 6060, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce5'), 'id': 46, 'age': 18, 'salary': 7582, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cea'), 'id': 51, 'age': 19, 'salary': 2733, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cec'), 'id': 53, 'age': 24, 'salary': 8977, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf2'), 'id': 59, 'age': 16, 'salary': 9699, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf3'), 'id': 60, 'age': 18, 'salary': 1640, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf6'), 'id': 63, 'age': 19, 'salary': 8830, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfd'), 'id': 70, 'age': 23, 'salary': 2839, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cfe'), 'id': 71, 'age': 19, 'salary': 1746, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cff'), 'id': 72, 'age': 18, 'salary': 1044, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d03'), 'id': 76, 'age': 20, 'salary': 9164, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d04'), 'id': 77, 'age': 16, 'salary': 2472, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d05'), 'id': 78, 'age': 19, 'salary': 4087, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d07'), 'id': 80, 'age': 21, 'salary': 8750, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d08'), 'id': 81, 'age': 19, 'salary': 2954, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d09'), 'id': 82, 'age': 21, 'salary': 9409, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0d'), 'id': 86, 'age': 19, 'salary': 4391, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d10'), 'id': 89, 'age': 15, 'salary': 2573, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d13'), 'id': 92, 'age': 15, 'salary': 7678, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d17'), 'id': 96, 'age': 17, 'salary': 2318, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d1a'), 'id': 99, 'age': 17, 'salary': 6482, 'sex': '女'}

## 修改或者限定返回字段

In [35]:
# 查询所有7000 < salary < 8000的数据

rows = handler.aggregate([{'$match': {'salary': {'$lt': 8000, '$gt': 7000}}}])
for row in rows:
    print(row)

{'_id': ObjectId('5b0ab1a46b78a66b9a676cba'), 'id': 3, 'age': 15, 'salary': 7662, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbb'), 'id': 4, 'age': 23, 'salary': 7001, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc6'), 'id': 15, 'age': 29, 'salary': 7635, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd3'), 'id': 28, 'age': 27, 'salary': 7052, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd4'), 'id': 29, 'age': 26, 'salary': 7494, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce5'), 'id': 46, 'age': 18, 'salary': 7582, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf4'), 'id': 61, 'age': 28, 'salary': 7494, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0e'), 'id': 87, 'age': 30, 'salary': 7823, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d13'), 'id': 92, 'age': 15, 'salary': 7678, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d14'), 'id': 93, 'age': 27, 'salary': 7228, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d18'), 'id': 97, 'age': 26, 'salary': 7811, 'sex': '男'}

In [36]:
# 不返回_id

rows = handler.aggregate([
    {'$match': {'salary': {'$lt': 8000, '$gt': 7000}}},
    {'$project': {'_id': 0}}
])
for row in rows:
    print(row)

{'id': 3, 'age': 15, 'salary': 7662, 'sex': '女'}
{'id': 4, 'age': 23, 'salary': 7001, 'sex': '女'}
{'id': 15, 'age': 29, 'salary': 7635, 'sex': '女'}
{'id': 28, 'age': 27, 'salary': 7052, 'sex': '女'}
{'id': 29, 'age': 26, 'salary': 7494, 'sex': '女'}
{'id': 46, 'age': 18, 'salary': 7582, 'sex': '女'}
{'id': 61, 'age': 28, 'salary': 7494, 'sex': '女'}
{'id': 87, 'age': 30, 'salary': 7823, 'sex': '女'}
{'id': 92, 'age': 15, 'salary': 7678, 'sex': '男'}
{'id': 93, 'age': 27, 'salary': 7228, 'sex': '男'}
{'id': 97, 'age': 26, 'salary': 7811, 'sex': '男'}

In [37]:
# 只返回id和sex，不显式删除_id

rows = handler.aggregate([
    {'$match': {'salary': {'$lt': 8000, '$gt': 7000}}},
    {'$project': {'id': 1, 'sex': 1}}
])
for row in rows:
    print(row)

{'_id': ObjectId('5b0ab1a46b78a66b9a676cba'), 'id': 3, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cbb'), 'id': 4, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cc6'), 'id': 15, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd3'), 'id': 28, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cd4'), 'id': 29, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676ce5'), 'id': 46, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676cf4'), 'id': 61, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d0e'), 'id': 87, 'sex': '女'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d13'), 'id': 92, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d14'), 'id': 93, 'sex': '男'}
{'_id': ObjectId('5b0ab1a46b78a66b9a676d18'), 'id': 97, 'sex': '男'}

In [38]:
# 只返回id和sex，显式删除_id

rows = handler.aggregate([
    {'$match': {'salary': {'$lt': 8000, '$gt': 7000}}},
    {'$project': {'_id': 0, 'id': 1, 'sex': 1}}
])
for row in rows:
    print(row)

{'id': 3, 'sex': '女'}
{'id': 4, 'sex': '女'}
{'id': 15, 'sex': '女'}
{'id': 28, 'sex': '女'}
{'id': 29, 'sex': '女'}
{'id': 46, 'sex': '女'}
{'id': 61, 'sex': '女'}
{'id': 87, 'sex': '女'}
{'id': 92, 'sex': '男'}
{'id': 93, 'sex': '男'}
{'id': 97, 'sex': '男'}

In [39]:
# 除了_id外，其他的元素只能同时指定不显示，或者同时指定显示，不能0和1混用，否则必定报错

rows = handler.aggregate([
    {'$match': {'salary': {'$lt': 8000, '$gt': 7000}}},
    {'$project': {'salary': 0, 'id': 1, 'sex': 1}}   # 这里必定报错
])
for row in rows:
    print(row)

OperationFailure: Bad projection specification, cannot include fields or add computed fields during an exclusion projection: { salary: 0, id: 1, sex: 1 }

In [40]:
# 增加新的字段

rows = handler.aggregate([
    {'$match': {'salary': {'$lt': 8000, '$gt': 7000}}},
    {'$project': {'_id': 0, 'id': 1, 'sex': 1, 'hello': 'word'}}
])
for row in rows:
    print(row)

{'id': 3, 'sex': '女', 'hello': 'word'}
{'id': 4, 'sex': '女', 'hello': 'word'}
{'id': 15, 'sex': '女', 'hello': 'word'}
{'id': 28, 'sex': '女', 'hello': 'word'}
{'id': 29, 'sex': '女', 'hello': 'word'}
{'id': 46, 'sex': '女', 'hello': 'word'}
{'id': 61, 'sex': '女', 'hello': 'word'}
{'id': 87, 'sex': '女', 'hello': 'word'}
{'id': 92, 'sex': '男', 'hello': 'word'}
{'id': 93, 'sex': '男', 'hello': 'word'}
{'id': 97, 'sex': '男', 'hello': 'word'}

In [41]:
# 复制已有字段

rows = handler.aggregate([
    {'$match': {'salary': {'$lt': 8000, '$gt': 7000}}},
    {'$project': {'_id': 0, 'id': 1, 'sex': 1, '月薪': '$salary'}}
])
for row in rows:
    print(row)

{'id': 3, 'sex': '女', '月薪': 7662}
{'id': 4, 'sex': '女', '月薪': 7001}
{'id': 15, 'sex': '女', '月薪': 7635}
{'id': 28, 'sex': '女', '月薪': 7052}
{'id': 29, 'sex': '女', '月薪': 7494}
{'id': 46, 'sex': '女', '月薪': 7582}
{'id': 61, 'sex': '女', '月薪': 7494}
{'id': 87, 'sex': '女', '月薪': 7823}
{'id': 92, 'sex': '男', '月薪': 7678}
{'id': 93, 'sex': '男', '月薪': 7228}
{'id': 97, 'sex': '男', '月薪': 7811}

In [42]:
# 覆盖现有字段

rows = handler.aggregate([
    {'$match': {'salary': {'$lt': 8000, '$gt': 7000}}},
    {'$project': {'_id': 0, 'id': 1, 'sex': '保密'}}
])
for row in rows:
    print(row)

{'id': 3, 'sex': '保密'}
{'id': 4, 'sex': '保密'}
{'id': 15, 'sex': '保密'}
{'id': 28, 'sex': '保密'}
{'id': 29, 'sex': '保密'}
{'id': 46, 'sex': '保密'}
{'id': 61, 'sex': '保密'}
{'id': 87, 'sex': '保密'}
{'id': 92, 'sex': '保密'}
{'id': 93, 'sex': '保密'}
{'id': 97, 'sex': '保密'}

In [43]:
# 包含嵌套字段的数据
handler2 = pymongo.MongoClient().chapter_7.example_data_2
rows = handler2.find()
for row in rows:
    print(row)

{'_id': ObjectId('5b13a1b06b78a643182f8ac4'), 'content': '这道菜真好吃', 'create_time': '2018-06-01', 'user': {'name': '青南', 'user_id': 101, 'following': 1, 'followed': 9999}, 'comments': 100}
{'_id': ObjectId('5b13a1b06b78a643182f8ac5'), 'content': '儿童节快乐', 'create_time': '2018-06-01', 'user': {'name': '小盆友', 'user_id': 102, 'following': 99, 'followed': 3}, 'comments': 1}
{'_id': ObjectId('5b13a1b06b78a643182f8ac6'), 'content': '我的礼物在哪里？', 'create_time': '2018-05-30', 'user': {'name': '学习鸡', 'user_id': 103, 'following': 45, 'followed': 20}, 'comments': 20}
{'_id': ObjectId('5b13a1b06b78a643182f8ac7'), 'content': '求勾搭', 'create_time': '2018-05-20', 'user': {'name': '单身的小X', 'user_id': 104, 'following': 8888, 'followed': 0}, 'comments': 0}

In [44]:
# 普通方法读取嵌套字段中的name

rows = handler2.find()
for row in rows:
    print(row['user']['name'])

青南
小盆友
学习鸡
单身的小X

In [45]:
# 使用$project抽出嵌套字段

rows = handler2.aggregate([
    {'$project': {'content': 1, '_id': 0, 'name': '$user.name'}}
])

for row in rows:
    print(row)

{'content': '这道菜真好吃', 'name': '青南'}
{'content': '儿童节快乐', 'name': '小盆友'}
{'content': '我的礼物在哪里？', 'name': '学习鸡'}
{'content': '求勾搭', 'name': '单身的小X'}

In [46]:
# 以$开头的特殊值无法正常显示，值本身就是数字的也无法正常显示

rows = handler2.aggregate([
    {'$project': {'content': 1, '_id': 0, 'name': '$user.name', 'new': '$我是特殊值'}}
])

for row in rows:
    print(row)

{'content': '这道菜真好吃', 'name': '青南'}
{'content': '儿童节快乐', 'name': '小盆友'}
{'content': '我的礼物在哪里？', 'name': '学习鸡'}
{'content': '求勾搭', 'name': '单身的小X'}

In [47]:
# 使得以$开头的特殊值可以正常显示

rows = handler2.aggregate([
    {'$project': {'content': 1,
                  '_id': 0,
                  'name': '$user.name',
                  'new': {'$literal': '$我是特殊值'},
                  'num_1': {'$literal': 1},
                  'num_0': {'$literal': 0}
                 }
    }
])

for row in rows:
    print(row)

{'content': '这道菜真好吃', 'name': '青南', 'new': '$我是特殊值', 'num_1': 1, 'num_0': 0}
{'content': '儿童节快乐', 'name': '小盆友', 'new': '$我是特殊值', 'num_1': 1, 'num_0': 0}
{'content': '我的礼物在哪里？', 'name': '学习鸡', 'new': '$我是特殊值', 'num_1': 1, 'num_0': 0}
{'content': '求勾搭', 'name': '单身的小X', 'new': '$我是特殊值', 'num_1': 1, 'num_0': 0}

![读者交流QQ群](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-02-16-09-59-56.png)
![微信公众号](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/wechatplatform.jpg)
![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-20-47-47.png)

## MongoDB的聚合查询（二）——分组查询

![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-16-52-34.png)

## MongoDB的聚合操作

作为一个数据库，MongoDB除了基本的增删改查外，还能进行一些统计运算和数据处理。聚合查询(aggregation)就是MongoDB进行数据处理的工具之一。聚合查询是把多个不同的阶段（stage）组合在一起，从而处理数据。

### 基本语法

```python
collection.aggregate([阶段1, 阶段2, 阶段3, ..., 阶段n])
```

每一个阶段都是一个字典。一个聚合查询可以有0个、1个或者多个阶段。数据先进入第一个阶段，第一个阶段处理以后的数据进入第二个阶段，第二个阶段处理以后的数据进入第三个阶段……。

#### 分组操作

```python
{'$group': {'_id': '$被去重的字段名'}}
{'$group': {'_id': '$被去重的字段名', '最大值': {'$max': '$字段名'}, '最小值': {'$min': '$字段名'}}}
{'$group': {'_id': '$被去重的字段名', '平均值': {'$avg': '$字段名'}, '求和': {'$sum': '$字段名'}}}
{'$group': {'_id': '$被去重的字段名', '计数': {'$sum': 1}}}
{'$group': {'_id': '$被去重的字段名', '最新值': {'$last': '$字段名'}, '最旧值': {'$last': '$字段名'}}}
```

In [18]:
# 连接数据库

import pymongo
handler = pymongo.MongoClient().chapter_7.example_data_4

## 替代 distinct

In [19]:
handler.distinct('name')

['张三', '李四', '王五']

In [20]:
rows = handler.aggregate([
    {'$group': {'_id': '$name'}}
])
print(rows)

list(rows)

<pymongo.command_cursor.CommandCursor object at 0x10ca6f748>

[{'_id': '王五'}, {'_id': '李四'}, {'_id': '张三'}]

In [21]:
# 如果name 字段不加美元符号会怎么样

rows = handler.aggregate([
    {'$group': {'_id': 'name'}}
])
list(rows)

[{'_id': 'name'}]

## 增加计算统计值

In [22]:
rows = handler.aggregate([
    {'$group': {'_id': '$name',
                '平均分': {'$avg': '$score'},
                '最大分': {'$max': '$score'},
                '最小分': {'$min': '$score'},
                '总分': {'$sum': '$score'}}}
])
list(rows)

[{'_id': '王五', '平均分': 73.4, '总分': 367, '最大分': 78, '最小分': 66},
 {'_id': '李四', '平均分': 75.33333333333333, '总分': 452, '最大分': 81, '最小分': 66},
 {'_id': '张三', '平均分': 74.8, '总分': 374, '最大分': 82, '最小分': 65}]

In [23]:
# 如果score 字段不加美元符号会怎么样？

rows = handler.aggregate([
    {'$group': {'_id': '$name',
                '平均分': {'$avg': 'score'},
                '最大分': {'$max': 'score'},
                '最小分': {'$min': 'score'},
                '总分': {'$sum': 'score'}}}
])
list(rows)

[{'_id': '王五', '平均分': None, '总分': 0, '最大分': 'score', '最小分': 'score'},
 {'_id': '李四', '平均分': None, '总分': 0, '最大分': 'score', '最小分': 'score'},
 {'_id': '张三', '平均分': None, '总分': 0, '最大分': 'score', '最小分': 'score'}]

## 计数

In [24]:
rows = handler.aggregate([
    {'$group': {'_id': '$name',
                '计数': {'$sum': 1},
                }}
])
list(rows)

[{'_id': '王五', '计数': 5}, {'_id': '李四', '计数': 6}, {'_id': '张三', '计数': 5}]

## 去重并保留字段

In [25]:
rows = handler.aggregate([
    {'$group': {'_id': '$name',
                'date': {'$last': '$date'},
                'score': {'$last': '$score'}
                }}
])
list(rows)

[{'_id': '王五', 'date': '2018-06-10', 'score': 78},
 {'_id': '李四', 'date': '2018-06-10', 'score': 81},
 {'_id': '张三', 'date': '2018-06-07', 'score': 82}]

In [26]:
rows = handler.aggregate([
    {'$group': {'_id': '$name',
                'date': {'$first': '$date'},
                'score': {'$first': '$score'}
                }}
])
list(rows)

[{'_id': '王五', 'date': '2018-06-01', 'score': 66},
 {'_id': '李四', 'date': '2018-06-01', 'score': 66},
 {'_id': '张三', 'date': '2018-06-01', 'score': 65}]

![读者交流QQ群](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-02-16-09-59-56.png)
![微信公众号](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/wechatplatform.jpg)
![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-20-47-47.png)

## MongoDB的聚合查询（三）——拆分数组

![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-16-52-34.png)

## MongoDB的聚合操作

作为一个数据库，MongoDB除了基本的增删改查外，还能进行一些统计运算和数据处理。聚合查询(aggregation)就是MongoDB进行数据处理的工具之一。聚合查询是把多个不同的阶段（stage）组合在一起，从而处理数据。

### 基本语法

```python
collection.aggregate([阶段1, 阶段2, 阶段3, ..., 阶段n])
```

每一个阶段都是一个字典。一个聚合查询可以有0个、1个或者多个阶段。数据先进入第一个阶段，第一个阶段处理以后的数据进入第二个阶段，第二个阶段处理以后的数据进入第三个阶段……。

#### 拆分数组

```python
{'$unwind': '$字段名'}
```

In [1]:
# 连接数据库

import pymongo
handler = pymongo.MongoClient().chapter_7.example_data_3

In [9]:
# 原始数据

rows = handler.find()
for row in rows:
    print(row)

{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': ['S', 'M', 'L', 'XL'], 'price': [100, 200, 300, 800]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19c'), 'name': '裤子', 'size': ['L', 'XL'], 'price': [150, 156]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19d'), 'name': '鞋子', 'size': ['S', 'XL'], 'price': [888, 1000]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19e'), 'name': '帽子', 'size': ['M'], 'price': ['88']}

In [10]:
rows = handler.aggregate([
    {'$unwind': '$size'}
])
for row in rows:
    print(row)

{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'S', 'price': [100, 200, 300, 800]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'M', 'price': [100, 200, 300, 800]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'L', 'price': [100, 200, 300, 800]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'XL', 'price': [100, 200, 300, 800]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19c'), 'name': '裤子', 'size': 'L', 'price': [150, 156]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19c'), 'name': '裤子', 'size': 'XL', 'price': [150, 156]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19d'), 'name': '鞋子', 'size': 'S', 'price': [888, 1000]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19d'), 'name': '鞋子', 'size': 'XL', 'price': [888, 1000]}
{'_id': ObjectId('5b13b3dc6b78a645a846d19e'), 'name': '帽子', 'size': 'M', 'price': ['88']}

In [11]:
# 如果不加$符号，必定报错
rows = handler.aggregate([
    {'$unwind': 'size'}
])
for row in rows:
    print(row)

OperationFailure: path option to $unwind stage should be prefixed with a '$': size

In [12]:
rows = handler.aggregate([
    {'$unwind': '$price'}
])
for row in rows:
    print(row)

{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': ['S', 'M', 'L', 'XL'], 'price': 100}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': ['S', 'M', 'L', 'XL'], 'price': 200}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': ['S', 'M', 'L', 'XL'], 'price': 300}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': ['S', 'M', 'L', 'XL'], 'price': 800}
{'_id': ObjectId('5b13b3dc6b78a645a846d19c'), 'name': '裤子', 'size': ['L', 'XL'], 'price': 150}
{'_id': ObjectId('5b13b3dc6b78a645a846d19c'), 'name': '裤子', 'size': ['L', 'XL'], 'price': 156}
{'_id': ObjectId('5b13b3dc6b78a645a846d19d'), 'name': '鞋子', 'size': ['S', 'XL'], 'price': 888}
{'_id': ObjectId('5b13b3dc6b78a645a846d19d'), 'name': '鞋子', 'size': ['S', 'XL'], 'price': 1000}
{'_id': ObjectId('5b13b3dc6b78a645a846d19e'), 'name': '帽子', 'size': ['M'], 'price': '88'}

In [13]:
# 全部拆开

rows = handler.aggregate([
    {'$unwind': '$size'},
    {'$unwind': '$price'}
])
for row in rows:
    print(row)

{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'S', 'price': 100}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'S', 'price': 200}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'S', 'price': 300}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'S', 'price': 800}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'M', 'price': 100}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'M', 'price': 200}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'M', 'price': 300}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'M', 'price': 800}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'L', 'price': 100}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'L', 'price': 200}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'L', 'price': 300}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'L', 'price': 800}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'XL', 'price': 100}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'XL', 'price': 200}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'XL', 'price': 300}
{'_id': ObjectId('5b13b3dc6b78a645a846d19b'), 'name': '衬衣', 'size': 'XL', 'price': 800}
{'_id': ObjectId('5b13b3dc6b78a645a846d19c'), 'name': '裤子', 'size': 'L', 'price': 150}
{'_id': ObjectId('5b13b3dc6b78a645a846d19c'), 'name': '裤子', 'size': 'L', 'price': 156}
{'_id': ObjectId('5b13b3dc6b78a645a846d19c'), 'name': '裤子', 'size': 'XL', 'price': 150}
{'_id': ObjectId('5b13b3dc6b78a645a846d19c'), 'name': '裤子', 'size': 'XL', 'price': 156}
{'_id': ObjectId('5b13b3dc6b78a645a846d19d'), 'name': '鞋子', 'size': 'S', 'price': 888}
{'_id': ObjectId('5b13b3dc6b78a645a846d19d'), 'name': '鞋子', 'size': 'S', 'price': 1000}
{'_id': ObjectId('5b13b3dc6b78a645a846d19d'), 'name': '鞋子', 'size': 'XL', 'price': 888}
{'_id': ObjectId('5b13b3dc6b78a645a846d19d'), 'name': '鞋子', 'size': 'XL', 'price': 1000}
{'_id': ObjectId('5b13b3dc6b78a645a846d19e'), 'name': '帽子', 'size': 'M', 'price': '88'}

![读者交流QQ群](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-02-16-09-59-56.png)
![微信公众号](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/wechatplatform.jpg)
![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-20-47-47.png)

## MongoDB的聚合查询（四）——联集合查询

![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-16-52-34.png)

## MongoDB的聚合操作

作为一个数据库，MongoDB除了基本的增删改查外，还能进行一些统计运算和数据处理。聚合查询(aggregation)就是MongoDB进行数据处理的工具之一。聚合查询是把多个不同的阶段（stage）组合在一起，从而处理数据。

### 基本语法

```python
collection.aggregate([阶段1, 阶段2, 阶段3, ..., 阶段n])
```

每一个阶段都是一个字典。一个聚合查询可以有0个、1个或者多个阶段。数据先进入第一个阶段，第一个阶段处理以后的数据进入第二个阶段，第二个阶段处理以后的数据进入第三个阶段……。

#### 联集合查询


```python
{'$lookup': {
        'from': '被查询的集合名',
        'localField': '主集合字段',
        'foreignField': '被查集合的字段',
        'as': '查询结果被保存的字段名'
    }
}
```

In [15]:
# 连接数据库

import pymongo
db = pymongo.MongoClient().chapter_7
post = db.example_post
user = db.example_user

In [16]:
# 以example_user 为主集合，查询每个用户发送的所有微博
from pprint import pprint

weibo_per_user = user.aggregate([
    {'$lookup': {
        'from': 'example_post',
        'localField': 'id',
        'foreignField': 'user_id',
        'as': 'weibo'
    }}
])

for row in weibo_per_user:
    pprint(row, indent=2)

{ '_id': ObjectId('5b1b81266b78a632394ab1ac'),
  'age': 17,
  'id': 1001,
  'name': '王小一',
  'register_date': '2018-06-09',
  'weibo': [ { '_id': ObjectId('5b1b83a66b78a633856ad77b'),
               'content': '好不容易放假，楼上装修太吵了',
               'post_time': '2018-06-12 08:23:12',
               'user_id': 1001},
             { '_id': ObjectId('5b1b83a66b78a633856ad783'),
               'content': '青山不改绿水长流，同学们后会有期',
               'post_time': '2018-06-15 23:23:12',
               'user_id': 1001}],
  'work': '学生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1ad'),
  'age': 18,
  'id': 1002,
  'name': '张小二',
  'register_date': '2018-06-09',
  'weibo': [ { '_id': ObjectId('5b1b83a66b78a633856ad777'),
               'content': '考试完了，好无聊啊啊',
               'post_time': '2018-06-11 12:23:12',
               'user_id': 1002},
             { '_id': ObjectId('5b1b83a66b78a633856ad77a'),
               'content': '我们不知道还能在一起多久',
               'post_time': '2018-06-12 00:23:12',
               'user_id': 1002}],
  'work': '学生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1ae'),
  'age': 19,
  'id': 1003,
  'name': '李小三',
  'register_date': '2018-06-10',
  'weibo': [ { '_id': ObjectId('5b1b83a66b78a633856ad778'),
               'content': '大家看我今天吃得什么[图片]',
               'post_time': '2018-06-11 12:27:12',
               'user_id': 1003},
             { '_id': ObjectId('5b1b83a66b78a633856ad784'),
               'content': '今天收到了小费。谢谢大老板。',
               'post_time': '2018-06-15 23:23:12',
               'user_id': 1003}],
  'work': '服务员'}
{ '_id': ObjectId('5b1b81266b78a632394ab1af'),
  'age': 20,
  'id': 1004,
  'name': '郭小四',
  'register_date': '2018-06-10',
  'weibo': [ { '_id': ObjectId('5b1b83a66b78a633856ad77c'),
               'content': '疯了疯了疯了，我把洗衣服当成盐了',
               'post_time': '2018-06-12 17:23:12',
               'user_id': 1004},
             { '_id': ObjectId('5b1b83a66b78a633856ad77d'),
               'content': '此处不留爷，自有留爷处',
               'post_time': '2018-06-12 21:23:12',
               'user_id': 1004}],
  'work': '厨师'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b0'),
  'age': 21,
  'id': 1005,
  'name': '毛小五',
  'register_date': '2018-06-10',
  'weibo': [ { '_id': ObjectId('5b1b83a66b78a633856ad77e'),
               'content': '这个厕所设计得太美了',
               'post_time': '2018-06-13 09:23:12',
               'user_id': 1005},
             { '_id': ObjectId('5b1b83a66b78a633856ad780'),
               'content': 'XX显示器的色彩太好看了',
               'post_time': '2018-06-14 10:23:12',
               'user_id': 1005}],
  'work': '美工'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b1'),
  'age': 22,
  'id': 1006,
  'name': '欧阳小六',
  'register_date': '2018-06-10',
  'weibo': [ { '_id': ObjectId('5b1b83a66b78a633856ad779'),
               'content': 'XX外卖送货太慢了，差评',
               'post_time': '2018-06-11 14:00:12',
               'user_id': 1006}],
  'work': '工程师'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b2'),
  'age': 23,
  'id': 1007,
  'name': '夏侯小七',
  'register_date': '2018-06-10',
  'weibo': [ { '_id': ObjectId('5b1b83a66b78a633856ad77f'),
               'content': 'XX叔，一路走好',
               'post_time': '2018-06-13 17:23:12',
               'user_id': 1007}],
  'work': '医生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b3'),
  'age': 24,
  'id': 1008,
  'name': '慕容小八',
  'register_date': '2018-06-10',
  'weibo': [ { '_id': ObjectId('5b1b83a66b78a633856ad781'),
               'content': '我在X市参与城市规划',
               'post_time': '2018-06-15 12:01:12',
               'user_id': 1008}],
  'work': '建筑设计师'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b4'),
  'age': 25,
  'id': 1009,
  'name': '南宫小九',
  'register_date': '2018-06-10',
  'weibo': [ { '_id': ObjectId('5b1b83a66b78a633856ad782'),
               'content': '小九中介竭诚为你服务',
               'post_time': '2018-06-15 15:23:12',
               'user_id': 1009}],
  'work': '中介'}

In [17]:
# 以example_post 为主集合，查询每个用户发送的所有微博
from pprint import pprint

user_per_weibo = post.aggregate([
    {'$lookup': {
        'from': 'example_user',
        'localField': 'user_id',
        'foreignField': 'id',
        'as': 'user'
    }}
])

for row in user_per_weibo:
    pprint(row, indent=2)

{ '_id': ObjectId('5b1b83a66b78a633856ad777'),
  'content': '考试完了，好无聊啊啊',
  'post_time': '2018-06-11 12:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1ad'),
              'age': 18,
              'id': 1002,
              'name': '张小二',
              'register_date': '2018-06-09',
              'work': '学生'}],
  'user_id': 1002}
{ '_id': ObjectId('5b1b83a66b78a633856ad778'),
  'content': '大家看我今天吃得什么[图片]',
  'post_time': '2018-06-11 12:27:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1ae'),
              'age': 19,
              'id': 1003,
              'name': '李小三',
              'register_date': '2018-06-10',
              'work': '服务员'}],
  'user_id': 1003}
{ '_id': ObjectId('5b1b83a66b78a633856ad779'),
  'content': 'XX外卖送货太慢了，差评',
  'post_time': '2018-06-11 14:00:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1b1'),
              'age': 22,
              'id': 1006,
              'name': '欧阳小六',
              'register_date': '2018-06-10',
              'work': '工程师'}],
  'user_id': 1006}
{ '_id': ObjectId('5b1b83a66b78a633856ad77a'),
  'content': '我们不知道还能在一起多久',
  'post_time': '2018-06-12 00:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1ad'),
              'age': 18,
              'id': 1002,
              'name': '张小二',
              'register_date': '2018-06-09',
              'work': '学生'}],
  'user_id': 1002}
{ '_id': ObjectId('5b1b83a66b78a633856ad77b'),
  'content': '好不容易放假，楼上装修太吵了',
  'post_time': '2018-06-12 08:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1ac'),
              'age': 17,
              'id': 1001,
              'name': '王小一',
              'register_date': '2018-06-09',
              'work': '学生'}],
  'user_id': 1001}
{ '_id': ObjectId('5b1b83a66b78a633856ad77c'),
  'content': '疯了疯了疯了，我把洗衣服当成盐了',
  'post_time': '2018-06-12 17:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1af'),
              'age': 20,
              'id': 1004,
              'name': '郭小四',
              'register_date': '2018-06-10',
              'work': '厨师'}],
  'user_id': 1004}
{ '_id': ObjectId('5b1b83a66b78a633856ad77d'),
  'content': '此处不留爷，自有留爷处',
  'post_time': '2018-06-12 21:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1af'),
              'age': 20,
              'id': 1004,
              'name': '郭小四',
              'register_date': '2018-06-10',
              'work': '厨师'}],
  'user_id': 1004}
{ '_id': ObjectId('5b1b83a66b78a633856ad77e'),
  'content': '这个厕所设计得太美了',
  'post_time': '2018-06-13 09:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1b0'),
              'age': 21,
              'id': 1005,
              'name': '毛小五',
              'register_date': '2018-06-10',
              'work': '美工'}],
  'user_id': 1005}
{ '_id': ObjectId('5b1b83a66b78a633856ad77f'),
  'content': 'XX叔，一路走好',
  'post_time': '2018-06-13 17:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1b2'),
              'age': 23,
              'id': 1007,
              'name': '夏侯小七',
              'register_date': '2018-06-10',
              'work': '医生'}],
  'user_id': 1007}
{ '_id': ObjectId('5b1b83a66b78a633856ad780'),
  'content': 'XX显示器的色彩太好看了',
  'post_time': '2018-06-14 10:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1b0'),
              'age': 21,
              'id': 1005,
              'name': '毛小五',
              'register_date': '2018-06-10',
              'work': '美工'}],
  'user_id': 1005}
{ '_id': ObjectId('5b1b83a66b78a633856ad781'),
  'content': '我在X市参与城市规划',
  'post_time': '2018-06-15 12:01:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1b3'),
              'age': 24,
              'id': 1008,
              'name': '慕容小八',
              'register_date': '2018-06-10',
              'work': '建筑设计师'}],
  'user_id': 1008}
{ '_id': ObjectId('5b1b83a66b78a633856ad782'),
  'content': '小九中介竭诚为你服务',
  'post_time': '2018-06-15 15:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1b4'),
              'age': 25,
              'id': 1009,
              'name': '南宫小九',
              'register_date': '2018-06-10',
              'work': '中介'}],
  'user_id': 1009}
{ '_id': ObjectId('5b1b83a66b78a633856ad783'),
  'content': '青山不改绿水长流，同学们后会有期',
  'post_time': '2018-06-15 23:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1ac'),
              'age': 17,
              'id': 1001,
              'name': '王小一',
              'register_date': '2018-06-09',
              'work': '学生'}],
  'user_id': 1001}
{ '_id': ObjectId('5b1b83a66b78a633856ad784'),
  'content': '今天收到了小费。谢谢大老板。',
  'post_time': '2018-06-15 23:23:12',
  'user': [ { '_id': ObjectId('5b1b81266b78a632394ab1ae'),
              'age': 19,
              'id': 1003,
              'name': '李小三',
              'register_date': '2018-06-10',
              'work': '服务员'}],
  'user_id': 1003}

In [18]:
# 以example_user 为主集合，查询每个用户发送的所有微博，并拆开结果
from pprint import pprint

weibo_per_user = user.aggregate([
    {'$lookup': {
        'from': 'example_post',
        'localField': 'id',
        'foreignField': 'user_id',
        'as': 'weibo'
    }},
    {'$unwind': '$weibo'}
])

for row in weibo_per_user:
    print(row)

{'_id': ObjectId('5b1b81266b78a632394ab1ac'), 'id': 1001, 'name': '王小一', 'register_date': '2018-06-09', 'age': 17, 'work': '学生', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad77b'), 'user_id': 1001, 'content': '好不容易放假，楼上装修太吵了', 'post_time': '2018-06-12 08:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1ac'), 'id': 1001, 'name': '王小一', 'register_date': '2018-06-09', 'age': 17, 'work': '学生', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad783'), 'user_id': 1001, 'content': '青山不改绿水长流，同学们后会有期', 'post_time': '2018-06-15 23:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1ad'), 'id': 1002, 'name': '张小二', 'register_date': '2018-06-09', 'age': 18, 'work': '学生', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad777'), 'user_id': 1002, 'content': '考试完了，好无聊啊啊', 'post_time': '2018-06-11 12:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1ad'), 'id': 1002, 'name': '张小二', 'register_date': '2018-06-09', 'age': 18, 'work': '学生', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad77a'), 'user_id': 1002, 'content': '我们不知道还能在一起多久', 'post_time': '2018-06-12 00:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1ae'), 'id': 1003, 'name': '李小三', 'register_date': '2018-06-10', 'age': 19, 'work': '服务员', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad778'), 'user_id': 1003, 'content': '大家看我今天吃得什么[图片]', 'post_time': '2018-06-11 12:27:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1ae'), 'id': 1003, 'name': '李小三', 'register_date': '2018-06-10', 'age': 19, 'work': '服务员', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad784'), 'user_id': 1003, 'content': '今天收到了小费。谢谢大老板。', 'post_time': '2018-06-15 23:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1af'), 'id': 1004, 'name': '郭小四', 'register_date': '2018-06-10', 'age': 20, 'work': '厨师', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad77c'), 'user_id': 1004, 'content': '疯了疯了疯了，我把洗衣服当成盐了', 'post_time': '2018-06-12 17:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1af'), 'id': 1004, 'name': '郭小四', 'register_date': '2018-06-10', 'age': 20, 'work': '厨师', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad77d'), 'user_id': 1004, 'content': '此处不留爷，自有留爷处', 'post_time': '2018-06-12 21:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1b0'), 'id': 1005, 'name': '毛小五', 'register_date': '2018-06-10', 'age': 21, 'work': '美工', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad77e'), 'user_id': 1005, 'content': '这个厕所设计得太美了', 'post_time': '2018-06-13 09:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1b0'), 'id': 1005, 'name': '毛小五', 'register_date': '2018-06-10', 'age': 21, 'work': '美工', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad780'), 'user_id': 1005, 'content': 'XX显示器的色彩太好看了', 'post_time': '2018-06-14 10:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1b1'), 'id': 1006, 'name': '欧阳小六', 'register_date': '2018-06-10', 'age': 22, 'work': '工程师', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad779'), 'user_id': 1006, 'content': 'XX外卖送货太慢了，差评', 'post_time': '2018-06-11 14:00:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1b2'), 'id': 1007, 'name': '夏侯小七', 'register_date': '2018-06-10', 'age': 23, 'work': '医生', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad77f'), 'user_id': 1007, 'content': 'XX叔，一路走好', 'post_time': '2018-06-13 17:23:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1b3'), 'id': 1008, 'name': '慕容小八', 'register_date': '2018-06-10', 'age': 24, 'work': '建筑设计师', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad781'), 'user_id': 1008, 'content': '我在X市参与城市规划', 'post_time': '2018-06-15 12:01:12'}}
{'_id': ObjectId('5b1b81266b78a632394ab1b4'), 'id': 1009, 'name': '南宫小九', 'register_date': '2018-06-10', 'age': 25, 'work': '中介', 'weibo': {'_id': ObjectId('5b1b83a66b78a633856ad782'), 'user_id': 1009, 'content': '小九中介竭诚为你服务', 'post_time': '2018-06-15 15:23:12'}}

In [19]:
# 以example_user 为主集合，查询每个用户发送的所有微博，并拆开结果，再提取字段出来
import json
from pprint import pprint

weibo_per_user = user.aggregate([
    {'$lookup': {
        'from': 'example_post',
        'localField': 'id',
        'foreignField': 'user_id',
        'as': 'weibo'
    }},
    {'$unwind': '$weibo'},
    {'$project': {
        'id': 1,
        'name': 1,
        'register_date': 1,
        'age': 1,
        'work': 1, 
        'weibo': '$weibo.content',
        'post_time': '$weibo.post_time'
    }}
])

for row in weibo_per_user:
    pprint(row, indent=2)

{ '_id': ObjectId('5b1b81266b78a632394ab1ac'),
  'age': 17,
  'id': 1001,
  'name': '王小一',
  'post_time': '2018-06-12 08:23:12',
  'register_date': '2018-06-09',
  'weibo': '好不容易放假，楼上装修太吵了',
  'work': '学生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1ac'),
  'age': 17,
  'id': 1001,
  'name': '王小一',
  'post_time': '2018-06-15 23:23:12',
  'register_date': '2018-06-09',
  'weibo': '青山不改绿水长流，同学们后会有期',
  'work': '学生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1ad'),
  'age': 18,
  'id': 1002,
  'name': '张小二',
  'post_time': '2018-06-11 12:23:12',
  'register_date': '2018-06-09',
  'weibo': '考试完了，好无聊啊啊',
  'work': '学生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1ad'),
  'age': 18,
  'id': 1002,
  'name': '张小二',
  'post_time': '2018-06-12 00:23:12',
  'register_date': '2018-06-09',
  'weibo': '我们不知道还能在一起多久',
  'work': '学生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1ae'),
  'age': 19,
  'id': 1003,
  'name': '李小三',
  'post_time': '2018-06-11 12:27:12',
  'register_date': '2018-06-10',
  'weibo': '大家看我今天吃得什么[图片]',
  'work': '服务员'}
{ '_id': ObjectId('5b1b81266b78a632394ab1ae'),
  'age': 19,
  'id': 1003,
  'name': '李小三',
  'post_time': '2018-06-15 23:23:12',
  'register_date': '2018-06-10',
  'weibo': '今天收到了小费。谢谢大老板。',
  'work': '服务员'}
{ '_id': ObjectId('5b1b81266b78a632394ab1af'),
  'age': 20,
  'id': 1004,
  'name': '郭小四',
  'post_time': '2018-06-12 17:23:12',
  'register_date': '2018-06-10',
  'weibo': '疯了疯了疯了，我把洗衣服当成盐了',
  'work': '厨师'}
{ '_id': ObjectId('5b1b81266b78a632394ab1af'),
  'age': 20,
  'id': 1004,
  'name': '郭小四',
  'post_time': '2018-06-12 21:23:12',
  'register_date': '2018-06-10',
  'weibo': '此处不留爷，自有留爷处',
  'work': '厨师'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b0'),
  'age': 21,
  'id': 1005,
  'name': '毛小五',
  'post_time': '2018-06-13 09:23:12',
  'register_date': '2018-06-10',
  'weibo': '这个厕所设计得太美了',
  'work': '美工'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b0'),
  'age': 21,
  'id': 1005,
  'name': '毛小五',
  'post_time': '2018-06-14 10:23:12',
  'register_date': '2018-06-10',
  'weibo': 'XX显示器的色彩太好看了',
  'work': '美工'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b1'),
  'age': 22,
  'id': 1006,
  'name': '欧阳小六',
  'post_time': '2018-06-11 14:00:12',
  'register_date': '2018-06-10',
  'weibo': 'XX外卖送货太慢了，差评',
  'work': '工程师'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b2'),
  'age': 23,
  'id': 1007,
  'name': '夏侯小七',
  'post_time': '2018-06-13 17:23:12',
  'register_date': '2018-06-10',
  'weibo': 'XX叔，一路走好',
  'work': '医生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b3'),
  'age': 24,
  'id': 1008,
  'name': '慕容小八',
  'post_time': '2018-06-15 12:01:12',
  'register_date': '2018-06-10',
  'weibo': '我在X市参与城市规划',
  'work': '建筑设计师'}
{ '_id': ObjectId('5b1b81266b78a632394ab1b4'),
  'age': 25,
  'id': 1009,
  'name': '南宫小九',
  'post_time': '2018-06-15 15:23:12',
  'register_date': '2018-06-10',
  'weibo': '小九中介竭诚为你服务',
  'work': '中介'}

In [20]:
# 以example_user 为主集合，查询特定用户发送的所有微博，并拆开结果，再提取字段出来
import json
from pprint import pprint

weibo_per_user = user.aggregate([
    {'$match': {'name': '王小一'}},
    {'$lookup': {
        'from': 'example_post',
        'localField': 'id',
        'foreignField': 'user_id',
        'as': 'weibo'
    }},
    {'$unwind': '$weibo'},
    {'$project': {
        'id': 1,
        'name': 1,
        'register_date': 1,
        'age': 1,
        'work': 1, 
        'weibo': '$weibo.content',
        'post_time': '$weibo.post_time'
    }}
])

for row in weibo_per_user:
    pprint(row, indent=2)

{ '_id': ObjectId('5b1b81266b78a632394ab1ac'),
  'age': 17,
  'id': 1001,
  'name': '王小一',
  'post_time': '2018-06-12 08:23:12',
  'register_date': '2018-06-09',
  'weibo': '好不容易放假，楼上装修太吵了',
  'work': '学生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1ac'),
  'age': 17,
  'id': 1001,
  'name': '王小一',
  'post_time': '2018-06-15 23:23:12',
  'register_date': '2018-06-09',
  'weibo': '青山不改绿水长流，同学们后会有期',
  'work': '学生'}

In [21]:
# 以example_user 为主集合，查询所有用户发送的所有微博，并拆开结果，再提取字段出来，最后筛选特定用户
import json
from pprint import pprint

weibo_per_user = user.aggregate([
    {'$lookup': {
        'from': 'example_post',
        'localField': 'id',
        'foreignField': 'user_id',
        'as': 'weibo'
    }},
    {'$unwind': '$weibo'},
    {'$project': {
        'id': 1,
        'name': 1,
        'register_date': 1,
        'age': 1,
        'work': 1, 
        'weibo': '$weibo.content',
        'post_time': '$weibo.post_time'
    }},
    {'$match': {'name': '王小一'}}
])

for row in weibo_per_user:
    pprint(row, indent=2)

{ '_id': ObjectId('5b1b81266b78a632394ab1ac'),
  'age': 17,
  'id': 1001,
  'name': '王小一',
  'post_time': '2018-06-12 08:23:12',
  'register_date': '2018-06-09',
  'weibo': '好不容易放假，楼上装修太吵了',
  'work': '学生'}
{ '_id': ObjectId('5b1b81266b78a632394ab1ac'),
  'age': 17,
  'id': 1001,
  'name': '王小一',
  'post_time': '2018-06-15 23:23:12',
  'register_date': '2018-06-09',
  'weibo': '青山不改绿水长流，同学们后会有期',
  'work': '学生'}

![读者交流QQ群](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-02-16-09-59-56.png)
![微信公众号](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/wechatplatform.jpg)
![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-03-03-20-47-47.png)