In [1]:
import pymongo

In [2]:
conn = pymongo.MongoClient()

# 第一种写法

In [3]:
db = conn.chapter_3
handler = db.example_data_1
handler.find_one()

{'_id': ObjectId('5b2f2e24e0f42944105c81d2'),
 'address': '浙江',
 'age': 17.0,
 'name': '张小二'}

# 第二种写法

In [4]:
db2 = conn['chapter_3']
handler2 = db2['example_data_1']
handler2.find_one()

{'_id': ObjectId('5b2f2e24e0f42944105c81d2'),
 'address': '浙江',
 'age': 17.0,
 'name': '张小二'}

# 使用第二种写法可以批量处理多个数据库和多个集合

In [5]:
db_name = 'chapter_3'
collection_name = 'example_data_1'
db3 = conn[db_name]
handler3 = db3[collection_name]
handler3.find_one()

{'_id': ObjectId('5b2f2e24e0f42944105c81d2'),
 'address': '浙江',
 'age': 17.0,
 'name': '张小二'}

In [6]:
row = handler.find_one({'age': 25})
print(row)

{'_id': ObjectId('5b2f30a6e0f42944105c81d3'), 'name': '王小六', 'age': 25.0, 'work': ['工程师', '模特'], 'address': '苏州'}

In [14]:
rows = handler.find({'age': 25, 'name': '慕容小九'}, {'name': 0, 'address': 0, '_id': 0})
print(rows)
for row in rows:
    print(row)

<pymongo.cursor.Cursor object at 0x10d2a7978>
{'age': 25.0}

# MongoDB的基本语法——使用Python插入、更新、删除数据
![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-02-16-10-28-52.png)

## 插入数据

### 基本语法

```
collection.insert_one(字典)  # 插入一条数据
collection.insert_many(包含字典的列表)  # 批量插入多条数据
```

### 被插入的数据格式

```
{'field_1': value_1, 'field_2': value_2}

[
 {'field_1': value_1, 'field_2': value_2},
 {'field_1': value_3, 'field_2': value_4}
]
```

### 说明

* MongoDB不需要提前创建数据库、不需要提前创建集合、不需要提取定义数据格式，想插入什么数据，直接插就行。
* 同一个集合的不同行数据，字典可以不一样

## 插入一条数据

In [16]:
data = {'name': '青南', 'age': 26, 'address': '杭州'}
handler.insert_one(data)

## 插入一条数据，但是增加一个字段

In [17]:
data = {'name': '青南2', 'age': 26, 'address': '杭州', 'salary': 99999}
handler.insert_one(data)

In [18]:
## 在新的数据库、新的集合里面插入数据

new_handler = conn.video_chapter3.example
new_handler.insert_one({'name': '赵小一', 'birthday': '2019-02-16'})

## 批量插入数据

In [19]:

data = [
    {'name': '王十一', 'age': 25, 'address': '山东'},
    {'name': '马十二', 'age': 24, 'address': '深圳'}
]
handler.insert_many(data)

## 被批量插入的数据，每一条的格式也可以不一样

In [20]:
data = [
    {'name': '周十三', 'age': 23, 'address': '湖南'},
    {'topic': '测试', 'price': 800, 'star': 3}
]
handler.insert_many(data)

## 更新数据

### 基本语法

```
# 更新一条数据
collection.update_one(查询条件, {'$set': 被更新的数据})

# 更新所有满足要求的数据
collection.update_many(查询条件, {'$set': 被更新的数据})
```

### 被更新的数据

```
{'field_1': value_1, 'field_2': value_2}
```

## 更新一条数据

In [21]:
handler.update_one({'age': 25}, {'$set': {'address': '英国'}})

## 更新所有数据

In [22]:
handler.update_many({'age': 25}, {'$set': {'address': '火星'}})

## 更新所有数据，并新增一列

In [23]:
handler.update_many({'age': 25}, {'$set': {'address': '火星', 'type': '火星人'}})

## 删除数据

### 基本语法

```
# 删除第一个满足条件的数据
collection.delete_one(查询条件)

# 删除所有满足条件的数据
collection.delete_many(查询条件)
```

### 查询条件

与查询数据的第一个参数完全相同

### 建议

建议先写查询语句，确认查询出来的数据就是自己想删除的数据，然后把关键字**find**改为**delete_one**或者**delete_many**

## 删除一条数据

In [25]:
rows = handler.delete_one({'age': 25})

## 删除所有数据

In [26]:
handler.delete_many({'age': 25})

# MongoDB的基本语法——条件查询和逻辑查询
![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-02-16-10-28-52.png)

In [28]:
handler = conn.chapter_3.example_data_2

## 查询并对结果进行计数

### 基本语法

```
collection.find().count()
```

In [31]:
handler.find({'grade': '五年级'}).count()

2

## 查询并排序

### 基本语法

```
# 在Python中

collection.find().sort('字段名', 方向)

# 在Robo 3T的命令输入区域

collection.find().sort({'字段名': 方向})
```

其中方向为**1**表示升序，方向为**-1**表示降序

## 查询并对age升序排序

In [33]:
rows = handler.find().sort('age', 1)
for row in rows:
    print(row)

{'_id': ObjectId('5b2f75d26b78a61364d09f46'), 'name': '高六娃', 'age': 8, 'grade': '一年级', 'student': True, 'interest': '学习'}
{'_id': ObjectId('5b2f75d26b78a61364d09f41'), 'name': '李大娃', 'age': 10, 'grade': '五年级', 'student': True, 'interest': '唱歌'}
{'_id': ObjectId('5b2f75d26b78a61364d09f47'), 'name': '赵气娃', 'age': 10, 'grade': '五年级', 'student': True, 'interest': '乐高'}
{'_id': ObjectId('5b2f75d26b78a61364d09f42'), 'name': '张二娃', 'age': 12, 'grade': '六年级', 'student': True, 'interest': '跳舞'}
{'_id': ObjectId('5b2f75d26b78a61364d09f43'), 'name': '马三娃', 'age': 14, 'grade': '八年级', 'student': True, 'interest': '下棋'}
{'_id': ObjectId('5b2f75d26b78a61364d09f44'), 'name': '刘四娃', 'age': 16, 'grade': None, 'student': False, 'interest': '无'}
{'_id': ObjectId('5b2f75d26b78a61364d09f45'), 'name': '朱五娃', 'age': 18, 'grade': '高三', 'student': True, 'interest': '写字'}
{'_id': ObjectId('5b2f75d26b78a61364d09f48'), 'name': '葫芦娃', 'age': 100, 'grade': None, 'student': False, 'interest': '喷火'}

## 查询并对age降序排序

In [34]:
rows = handler.find().sort('age', -1)
for row in rows:
    print(row)

{'_id': ObjectId('5b2f75d26b78a61364d09f48'), 'name': '葫芦娃', 'age': 100, 'grade': None, 'student': False, 'interest': '喷火'}
{'_id': ObjectId('5b2f75d26b78a61364d09f45'), 'name': '朱五娃', 'age': 18, 'grade': '高三', 'student': True, 'interest': '写字'}
{'_id': ObjectId('5b2f75d26b78a61364d09f44'), 'name': '刘四娃', 'age': 16, 'grade': None, 'student': False, 'interest': '无'}
{'_id': ObjectId('5b2f75d26b78a61364d09f43'), 'name': '马三娃', 'age': 14, 'grade': '八年级', 'student': True, 'interest': '下棋'}
{'_id': ObjectId('5b2f75d26b78a61364d09f42'), 'name': '张二娃', 'age': 12, 'grade': '六年级', 'student': True, 'interest': '跳舞'}
{'_id': ObjectId('5b2f75d26b78a61364d09f41'), 'name': '李大娃', 'age': 10, 'grade': '五年级', 'student': True, 'interest': '唱歌'}
{'_id': ObjectId('5b2f75d26b78a61364d09f47'), 'name': '赵气娃', 'age': 10, 'grade': '五年级', 'student': True, 'interest': '乐高'}
{'_id': ObjectId('5b2f75d26b78a61364d09f46'), 'name': '高六娃', 'age': 8, 'grade': '一年级', 'student': True, 'interest': '学习'}

## 对字段去重

### 基本语法

```
# 对字段去重
handler.distinct('字段名')

# 先筛选再去重
handler.distinct('字段名', 查询条件)
```

### 注意

如果字段的数量很大，那么轻易不要在Robo 3T里面直接执行，否则可能导致Robo 3T卡死。

## 添加一些测试数据

In [35]:
data = [
    {'name': '阚九娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '魔术'},
    {'name': '钱十娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '直播'},
    {'name': '孙十一娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '打架'},
    {'name': '李十二娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '模型'},
    {'name': '周十三娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '手办'},
]
handler.insert_many(data)

## 对age进行去重

In [36]:
handler.distinct('age')

[10, 12, 14, 16, 18, 8, 100]

## 对age为18的数据中的grade字段去重

In [37]:
rows = handler.distinct('grade', {'age': 18})

print(rows)
print(len(rows))

['高三', '四年级', '五年级']
3

## 逻辑查询

### 基本符号

| 符号 | 意义 |
| --- | --- |
| \$gt | 大于 |
| \$gte | 大于等于 |
| \$lt | 小于 |
| \$lte | 小于等于 | 
| \$ne | 不等于 |

### 基本语法

```
collection.find({'字段名': {'基本符号': 边界值, '基本符号': 边界值}})
```

## 查询age 大于15的数据

In [38]:
rows = handler.find({'age': {'$gt': 15}})
for row in rows:
    print(row)

{'_id': ObjectId('5b2f75d26b78a61364d09f44'), 'name': '刘四娃', 'age': 16, 'grade': None, 'student': False, 'interest': '无'}
{'_id': ObjectId('5b2f75d26b78a61364d09f45'), 'name': '朱五娃', 'age': 18, 'grade': '高三', 'student': True, 'interest': '写字'}
{'_id': ObjectId('5b2f75d26b78a61364d09f48'), 'name': '葫芦娃', 'age': 100, 'grade': None, 'student': False, 'interest': '喷火'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd659'), 'name': '阚九娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '魔术'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65a'), 'name': '钱十娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '直播'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65b'), 'name': '孙十一娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '打架'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65c'), 'name': '李十二娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '模型'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65d'), 'name': '周十三娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '手办'}

## 查询age大于12小于等于18的数据

In [39]:
rows = handler.find({'age': {'$gt': 12, '$lte': 18}})
for row in rows:
    print(row)

{'_id': ObjectId('5b2f75d26b78a61364d09f43'), 'name': '马三娃', 'age': 14, 'grade': '八年级', 'student': True, 'interest': '下棋'}
{'_id': ObjectId('5b2f75d26b78a61364d09f44'), 'name': '刘四娃', 'age': 16, 'grade': None, 'student': False, 'interest': '无'}
{'_id': ObjectId('5b2f75d26b78a61364d09f45'), 'name': '朱五娃', 'age': 18, 'grade': '高三', 'student': True, 'interest': '写字'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd659'), 'name': '阚九娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '魔术'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65a'), 'name': '钱十娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '直播'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65b'), 'name': '孙十一娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '打架'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65c'), 'name': '李十二娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '模型'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65d'), 'name': '周十三娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '手办'}

## 查询age为18，年纪不为四年级的数据

In [40]:
rows = handler.find({'age': 18, 'grade': {'$ne': '四年级'}})
for row in rows:
    print(row)

{'_id': ObjectId('5b2f75d26b78a61364d09f45'), 'name': '朱五娃', 'age': 18, 'grade': '高三', 'student': True, 'interest': '写字'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65c'), 'name': '李十二娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '模型'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65d'), 'name': '周十三娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '手办'}

## 或查询

### 基本语法

```
handler.find({'$or': [查询条件1, 查询条件2]})
```

查询条件1与查询条件2只要有一个满足即可

## 查询age为18或者grade为五年级的数据

In [41]:
rows = handler.find({'$or': [{'age': 18}, {'grade': '五年级'}]})
for row in rows:
    print(row)

{'_id': ObjectId('5b2f75d26b78a61364d09f41'), 'name': '李大娃', 'age': 10, 'grade': '五年级', 'student': True, 'interest': '唱歌'}
{'_id': ObjectId('5b2f75d26b78a61364d09f45'), 'name': '朱五娃', 'age': 18, 'grade': '高三', 'student': True, 'interest': '写字'}
{'_id': ObjectId('5b2f75d26b78a61364d09f47'), 'name': '赵气娃', 'age': 10, 'grade': '五年级', 'student': True, 'interest': '乐高'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd659'), 'name': '阚九娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '魔术'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65a'), 'name': '钱十娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '直播'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65b'), 'name': '孙十一娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '打架'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65c'), 'name': '李十二娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '模型'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65d'), 'name': '周十三娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '手办'}

## 查询 age为100000或者grade为四年级或者grade为五年级的数据

In [42]:
rows = handler.find({'$or': [{'age': 100000}, {'grade': '四年级'}, {'grade': '五年级'}]})
for row in rows:
    print(row)

{'_id': ObjectId('5b2f75d26b78a61364d09f41'), 'name': '李大娃', 'age': 10, 'grade': '五年级', 'student': True, 'interest': '唱歌'}
{'_id': ObjectId('5b2f75d26b78a61364d09f47'), 'name': '赵气娃', 'age': 10, 'grade': '五年级', 'student': True, 'interest': '乐高'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd659'), 'name': '阚九娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '魔术'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65a'), 'name': '钱十娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '直播'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65b'), 'name': '孙十一娃', 'age': 18, 'grade': '四年级', 'student': True, 'interest': '打架'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65c'), 'name': '李十二娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '模型'}
{'_id': ObjectId('5c67a1d1a541dd46d3ebd65d'), 'name': '周十三娃', 'age': 18, 'grade': '五年级', 'student': True, 'interest': '手办'}

## 显式与查询

### 隐式与查询

```
collection.find({'name': 'xxx', 'age': 12, 'grade': '五年级'})
```

### 显式与查询

```
collection.find({'$and': [{'name': 'xxx'}, {'age': 12}, {'grade': '五年级'}]})
```

![](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-02-16-09-59-28.png)
![读者交流QQ群](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/2019-02-16-09-59-56.png)![微信公众号](https://kingname-1257411235.cos.ap-chengdu.myqcloud.com/wechatplatform.jpg)